certifi>=2019.3.9
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-WTF==0.14.3
git+https://github.com/foozmeat/python-instagram.git#egg=instagram
Mastodon.py==1.5.1
pandas
psutil
pygal==2.4.0
python-twitter==3.5
PyMySQL==0.9.3
pip-check
sentry-sdk[flask]
authlib==0.13
cairosvg
Werkzeug==0.16.1
pip-tools
wheel
