<!doctype html>
<html>
<head>
<title>Moa</title>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
<h1>Moa</h1>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}</p>
{% endfor %}

{% block body %}
1. {% if g.t_user %}Twitter: {{ g.t_user.screen_name }}{% else %}<a href="{{ url_for('twitter_login') }}">Connect to Twitter</a> {% endif %}

<br>

{% if g.m_user %}2. Mastodon: {{ g.m_user.username }}<br>{% else %}
<form action="{{ url_for('mastodon_login') }}" method="POST">
    2. {{ mform.mastodon_id.label }}:{{ mform.mastodon_id(placeholder='yourid@mastodon.instance') }}
    {{ form.csrf_token }}
    <input type=submit value="GO">
</form>
{% endif %}

3. Select Options
<form method="POST" action="{{ url_for('options') }}">
    {{ form.enabled.label }}{{ form.enabled }}
    <br>
    {{ form.post_to_twitter.label }}{{ form.post_to_twitter }}
    <br>
    {{ form.split_twitter_messages.label }}{{ form.split_twitter_messages }}
    <br>
    {{ form.post_to_mastodon.label }}{{ form.post_to_mastodon }}
    <br>
    {{ form.toot_visibility.label }}{{ form.toot_visibility }}
    <br>
    {{ form.csrf_token }}
    <input type="submit" value="Save">
</form>

<br>
4. <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

</body>
</html>
