{% extends "layout.html.j2" %}
{% block body %}

    <div class="privacy-policy">

        <h2>Privacy Policy</h2>

        <section id="privacy-information-we-collect">
            <h3>What information do we collect?</h3>
            <p>We collect your twitter, Mastodon and instagram usernames along with OAuth tokens for each service.</p>
        </section>

        <section id="privacy-information-use">
            <h3>What do we use your information for?</h3>
            <p>Your information is used for accessing online accounts. The stored OAuth tokens can be revoked at any time.</p>

        </section>

        <section id="privacy-cookies">
            <h3>Do we use cookies?</h3>
            <p>Yes. While you're modifying your settings a cookie is used for your session.</p>
        </section>

        <section id="privacy-disclose-third-party">
            <h3>Do we disclose any information to outside parties?</h3>
            <p>No.</p>
        </section>

    </div>
{% endblock %}
