{% extends "layout.html.j2" %}
{% block body %}

    <div>Time Span:
        <a href="{{ url_for('stats', hours=24) }}">1 Day</a> •
        <a href="{{ url_for('stats', hours=72) }}">3 Days</a> •
        <a href="{{ url_for('stats', hours=168) }}">1 Week</a> •
        <a href="{{ url_for('stats', hours=336) }}">2 Weeks</a> •
        <a href="{{ url_for('stats', hours=672) }}">4 Weeks</a>
    </div>
    <hr>
    <img src="{{ url_for('time_graph', hours=hours) }}" alt="moa time stats">
    <hr>
    <img src="{{ url_for('count_graph', hours=hours) }}" alt="moa count stats">
    <hr>
    <img src="{{ url_for('percent_graph', hours=hours) }}" alt="moa count ratios">
    <hr>
    <img src="{{ url_for('user_graph', hours=hours) }}" alt="moa user stats">

{% endblock %}
